<ul>
	<li><a href="http://pivotaltracker.com">pivotal tracker</a></li>
  <li><a href="http://github.com/aslakhellesoy/cucumber/wikis">cucumber wiki</a></li>
  <li><a href="http://gitrdoc.com/brynary/webrat/tree/master/">webrat api</a></li>
	<li><a href="http://railscasts.com/episodes/archive">railscast archive</a></li>
	<li><a href="http://railevant.com">railevant</a></li>
</ul>